<h1 align="center">UZABASE RSS Feed</h1>

<div align="center">
  <button style="height: 50px ; width: 200px; background-color: cadetblue" (click)="downloadFile()">Download RSS Text File</button>
</div>

<div *ngFor="let item of items">

  <h2>{{item.title}}</h2>

  <a href="{{item.link}}">{{item.link}}</a>

  <p>
    {{item.description}}
  </p>

  <span>{{item.docs}}</span> <br/>
  <span>{{item.generator}}</span> <br/>

  <div *ngFor="let feed of item.items">

    <h2>{{feed.title}}</h2>
    <a href="{{feed.link}}">{{feed.link}}</a>

    <p>
      {{feed.description}}
    </p>

    <span>{{feed.pubDate}}</span> <br/>
    <span>{{feed.guid}}</span> <br/>

    <img src="{{feed.enclosure}}"/>
  </div>

</div>
